{% extends "base.html" %}

{% load i18n %}

{% block navbar-categories-logs %}

<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 ps-3 my-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'starters' %}">Starters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main_courses' %}">Main Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'desserts' %}">Desserts</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'other' %}">Other</a>
            </li>
        </ul>

        <ul class="navbar-nav my-auto marg-left-right">
            <li>
                <hr>
            </li>

            {% if user.is_authenticated %}
            <div class="dropdown show">
                <a class="btn dropdown-toggle align-left p-left-right-0" href="{% url 'user_profile' user.id %}" role="button"
                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
            
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'user_profile' user.id %}">My Profile</a>
                    <a class="dropdown-item" href="{% url 'favourite_list' %}">Favourite recipes</a>
                    <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
                </div>
            </div>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <h3>{% trans "Sign Out" %}</h3>

            <p class="pt-2">{% trans 'Are you sure you want to sign out?' %}</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-secondary" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
