.dropdown-menu {
    border: none;
}

.line-text-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 50px 0 20px;
}

.line-text-line span {
    background-color: #F5EFE7;
    padding: 0 20px;
}

.btn-circle {
    font-size: 21px;
    text-align: center;
    height: 45px;
    width: 45px;
    padding-top: 7px;
    border-radius: 25px;
    border-width: 0;
}

.align-left {
    text-align: start;
}

.bg-body-nav {
    background-color: #D8C4B6;
}

body {
    background-color: #F5EFE7;
}

.text-copyright {
    color: black;
}

main {
    margin-bottom: 40px;
}

.main-min-height {
    min-height: calc(100vh - 245px);
}

/* Media queries */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .card-img-top {
        height: 344px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .card-img-top {
        height: 464px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .card-img-top {
        height: 200.88px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1399px) {
    .nav-link:focus {
        color: black;
        font-weight: bold;
    }

    .card-img-top {
        height: 240.88px;
    }
}

@media only screen and (min-width: 1400px) {
    .nav-link:focus {
        color: black;
        font-weight: bold;
    }

    .card-img-top {
        height: 280.88px;
    }
}

.card-title {
    height: 45px;
}

.card-description {
    height: 110px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.card {
    border: none;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

/* styles recipe */
.text-line {
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 30px 0 20px;
}

.text-line span,
.text-line-comments span {
    background-color: whitesmoke;
    padding: 0 20px 0 0;
}

.container-recipe {
    margin: 0 100px;
}

.coloured-box,
.coloured-box-comments {
    margin: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

.coloured-box-comments {
    background-color: white;
    border: white;
}

.text-line-comments span {
    background-color: white;
}

.p-left-30 {
    padding-left: 30px;
}

.p-left-right-0 {
    padding-left: 0;
    padding-right: 0;
}

.p-left-0 {
    padding-left: 0;
}

.p-right-0 {
    padding-right: 0;
}

/* Styles recipe_details */
.like-comments-row {
    margin: 10px 0 0 10px;
    height: 45px;
    line-height: 45px;
}

.btn-like,
.btn-fav {
    border: none;
    background: transparent;
}

.btn-like {
    color: #E84610;
}

.btn-fav {
    color: #595C5F;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.sm-width-icons {
    width: 40px;
    text-align: center;
    line-height: 45px;
}

.card-title-link {
    color: black;
    text-decoration: none;
}

.width-65px {
    width: 65px;
}

.width-40px {
    width: 40px;
}

/* Styles Edit recipe */
.form-group {
    margin: 15px 0;
}

/* Styles Personal recipe */
.draft {
    color: red;
}