{% extends "base.html" %}

{% block navbar-categories-logs %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 ps-3 ps-xl-0 my-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">All Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'starters' %}">Starters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main_courses' %}">Main Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'desserts' %}">Desserts</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'other' %}">Other</a>
            </li>
        </ul>

        <ul class="navbar-nav my-auto marg-left-right">
            <li>
                <hr>
            </li>

            {% if user.is_authenticated %}
            <div class="nav-item">
                <ul class="navbar-nav flex-grow-1 ps-3 ps-xl-0 my-auto">
                    <li>
                        <a class="btn dropdown-toggle nav-link align-left p-left-right-0"
                            href="{% url 'user_profile' user.id %}" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item nav-link" href="{% url 'user_profile' user.id %}">My Profile</a>
                            <a class="dropdown-item nav-link" href="{% url 'personal_recipes' %}">Personal Recipes</a>
                            <a class="dropdown-item nav-link" href="{% url 'favourite_list' %}">Favourite recipes</a>
                            <a class="dropdown-item nav-link" href="{% url 'account_logout' %}">Sign Out</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>

{% endblock %}

{% block content %}

<!-- Section All Recipes -->
<section>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>
                <h2 class="line-text-line"><span>Favourite Recipes</span></h2>
                </p>
            </div>
        </div>
    </div>

    <!-- Grid Favourites Recipes -->
    <div class="container">
        <div class="row g-3 mt-3">

            {% for recipe in fav_list %}
            <div class="col-12 col-lg-4">
                <div class="card">
                    {% if "placeholder" in recipe.featured_image.url %}
                    <img src="https://res.cloudinary.com/lu1725gia/image/upload/v1687021731/static/images/panino-with-mortadella.jpg"
                        class="card-img-top" alt="image placeholder">
                    {% else %}
                    <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="recipe image">
                    {% endif %}
                    <div class="card-body">
                        <a class="card-title-link" href="{% url 'recipe_details' recipe.slug %}">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                        </a>
                        <!-- Description -->
                        <div class="card-text card-description">
                            {{ recipe.description| safe }}
                        </div>

                        <div class="row">
                            <!-- Likes -->
                            <div class="col-3 pe-0">
                                <p class="card-text text-muted h6">
                                    <i class="far fa-heart"></i> {{ recipe.number_of_likes }}
                                </p>
                            </div>

                            <!-- Comments icon -->
                            <div class="col-3 ps-0">
                                {% with recipe.approved_comments.count as total_comments %}
                                <p class="text-muted h6">
                                    <i class="far fa-message"></i> {{ total_comments }}
                                </p>
                                {% endwith %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{%endblock%}