{% extends "base.html" %}

{% block content %}

<!-- Section Recipes of the day -->
<section>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>
                <h2 class="line-text-line"><span>Recipes of the Day</span></h2>
                </p>
            </div>
        </div>
    </div>

    <!-- Grid Recipes of the day -->
    <div class="container">
        <div class="row g-3 mt-3">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Section New Entries (Carousel) -->
<section>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>
                <h2 class="line-text-line"><span>New Entries</span></h2>
                </p>
            </div>
        </div>
    </div>

    <!-- Grid New Entries large screens -->
    <div class="container d-none d-lg-block">
        <div id="carouselExample" class="carousel slide carousel-dark m--12px">
            <div class="carousel-inner p-12px">

                <div class="carousel-item active">
                    <div class="row g-3 mt-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row g-3 mt-3">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Grid New Entries small screens -->
    <div class="container d-lg-none">
        <div id="carouselExampleSmallScreen" class="carousel slide carousel-dark m--12px">
            <div class="carousel-inner p-12px">

                <div class="carousel-item active">
                    <div class="row g-3 mt-3">
                        <div class="col-12">
                            <div class="card">
                                <img src="static/images/Cannoli-siciliani_650x433_wm.avif" class="card-img-top" alt="...">
                                <!-- Do a loop through new entries -->
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Delete once the loop is set -->
                    <div class="row g-3 mt-3">
                        <div class="col-12">
                            <div class="card">
                                <img src="static/images/Cannoli-siciliani_650x433_wm.avif" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSmallScreen"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSmallScreen"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<!-- End Section New Entries -->

<!-- Section Most Liked -->
<section>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>
                <h2 class="line-text-line"><span>Most Liked</span></h2>
                </p>
            </div>
        </div>
    </div>

    <!-- Grid Most Liked -->
    <div class="container">
        <div class="row g-3 mt-3">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="static/images/Lasagne-zucca-e-salsiccia_780x520_wm copy.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}