{% extends "base.html" %}

{% block content %}

<!-- Section Other Recipes -->
<section>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>
                <h2 class="line-text-line"><span>Other Recipes</span></h2>
                </p>
            </div>
        </div>
    </div>

    <!-- Grid Other Recipes -->
    <div class="container">
        <div class="row g-3 mt-3">

            {% for recipe in recipe_list %}
            <div class="col-12 col-lg-4">
                <div class="card">
                    <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                        </a>
                        <!-- Description -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.
                        </p>
                        <!-- Author -->
                        <p>
                            Author: {{ recipe.author }}
                        </p>
                        <!-- Likes -->
                        <p class="card-text text-muted h6">
                            <i class="far fa-heart"></i>{{ recipe.number_of_likes }}
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{%endblock%}