{% extends "base.html" %}

{% block content %}

<!-- section title and image of recipe -->
<section>
    <div class="container pt-2">
        <div class="row text-center">
            <h2>{{ recipe.title }}</h2>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="{{ recipe.featured_image.url }}" class="img-fluid" alt="...">
            </div>
        </div>


        <div class="row like-comments-row">
            <!-- Likes icon -->
            <div class="col-1">
                <p class="text-muted h6">
                    <i class="far fa-heart"></i>{{ recipe.number_of_likes }}
                </p>
            </div>
            <!-- Comments icon -->
            <div class="col-1">
                {% with comments.count as total_comments %}
                <p class="text-muted h6">
                    <i class="far fa-comments"></i>{{ total_comments }}
                </p>
                {% endwith %}
            </div>
        </div>


    </div>

</section>

<!-- section ingredients -->
<section>
    <div class="container">
        <div class="row">
            <div class="col coloured-box">
                <p>
                <h4 class="text-line"><span>Ingredients</span></h4>
                </p>

                <!-- list of ingredients -->
                <div class="row p-left-30">

                    {{ recipe.ingredients | safe }}

                </div>
            </div>
        </div>
    </div>
</section>

<!-- section recipe details -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box mt-0">
                <p>
                <h4 class="text-line"><span>Recipe Details</span></h4>
                </p>

                <!-- Details -->
                <div class="row p-left-30">
                    <ul>
                        <li>Preparing Time: {{ recipe.preparing_time | safe }}</li>
                        <li>Cooking Time: {{ recipe.cooking_time | safe }}</li>
                        <li>Serves: {{ recipe.serves | safe }}</li>
                        <li>Difficulty: {{ recipe.difficulty | safe }}</li>
                        <li>Category: {{ recipe.category | safe }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section method -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box mt-0">
                <p>
                <h4 class="text-line"><span>Method</span></h4>
                </p>

                <!-- Details -->
                <div class="row p-left-30">

                    {{ recipe.method | safe }}

                </div>
            </div>
        </div>
    </div>
</section>

<!-- section comments -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box mt-0">
                <p>
                <h4 class="text-line"><span>Comments</span></h4>
                </p>

                <!-- comments -->
                <div class="row p-left-30">

                    <!-- {{ recipe.method | safe }} -->

                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}