{% extends "base.html" %}

{% block navbar-categories-logs %}

<div class="offcanvas-body">
    <ul class="navbar-nav flex-grow-1 ps-3 ps-xl-0 my-auto">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">All Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'starters' %}">Starters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'main_courses' %}">Main Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'desserts' %}">Desserts</a>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'other' %}">Other</a>
        </li>
    </ul>

    <div class="navbar-nav my-auto marg-left-right">

        <hr>

        {% if user.is_authenticated %}
        <div class="dropdown show">
            <ul class="navbar-nav flex-grow-1 ps-3 ps-xl-0 my-auto">
                <li>
                    <a class="btn dropdown-toggle nav-link align-left p-left-right-0"
                        href="{% url 'user_profile' user.id %}" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item nav-link" href="{% url 'user_profile' user.id %}">My Profile</a>
                        <a class="dropdown-item nav-link" href="{% url 'personal_recipes' %}">Personal Recipes</a>
                        <a class="dropdown-item nav-link" href="{% url 'favourite_list' %}">Favourite recipes</a>
                        <a class="dropdown-item nav-link" href="{% url 'account_logout' %}">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
        {% else %}
        <ul class="navbar-nav flex-grow-1 ps-3 ps-xl-0 my-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            </li>
        </ul>
        {% endif %}

    </div>
</div>

{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!-- section title and image of recipe -->
<section>
    <div class="container pt-2">

        <!-- Popup message comment approval -->
        <div class="row text-center">
            <div class="col">
                {% if commented %}
                <div class="alert alert-success fade show" id="msg" role="alert">
                    Thanks! Your comment is waiting for approval.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row text-center">
            <h1 class="p-3">
                {{ recipe.title }}
                {% if recipe.status == 0 %}
                <span class="draft">(Draft)</span>
                {% endif %}
            </h1>
        </div>
        <div class="row">
            <div class="col text-center">
                {% if "placeholder" in recipe.featured_image.url %}
                <img src="https://res.cloudinary.com/lu1725gia/image/upload/v1687021731/static/images/panino-with-mortadella.jpg"
                    class="img-fluid" alt="placeholder image">
                {% else %}
                <img src="{{ recipe.featured_image.url }}" class="img-fluid" alt="recipe image">
                {% endif %}
            </div>
        </div>

        <div class="row like-comments-row mt-4">
            <div class="col col-lg-2">
                <!-- Author -->
                <p class="mb-0">
                    <strong>Author:</strong> {{ recipe.author }}
                </p>
            </div>
        </div>

        <div class="row like-comments-row">
            <div class="col">
                <!-- Website -->
                <p class="mb-0">
                    <strong>Website: </strong>
                    {% if recipe.website_url == "" %}
                    -
                    {% else %}
                    <a href="{{ recipe.website_url }}" target="_blank">
                        {{ recipe.website }}
                    </a>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row like-comments-row">
            <!-- Likes icon -->
            <div class="width-65px p-0 text-center">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogrecipe_id" value="{{recipe.slug}}" class="btn-like"><i
                            class="fa-solid fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blogrecipe_id" value="{{recipe.slug}}" class="btn-like"><i
                            class="fa-regular fa-heart"></i></button>
                    {% endif %}

                </form>
                {% else %}
                <span class="text-muted h6">
                    <i class="fa-regular fa-heart"></i>
                </span>
                {% endif %}
                <span class="text-muted h6">
                    {{ recipe.number_of_likes }}
                </span>
            </div>

            <!-- Favourites icon -->
            <div class="width-40px p-0 text-center">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_favourite' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    <!-- Favourites -->
                    {% if isFavourite %}
                    <button type="submit" name="blogrecipefav_id" value="{{recipe.slug}}" class="btn-fav"><i
                            class="fa-solid fa-bookmark"></i></button>
                    {% else %}
                    <button type="submit" name="blogrecipefav_id" value="{{recipe.slug}}" class="btn-fav"><i
                            class="fa-regular fa-bookmark"></i></button>
                    {% endif %}

                </form>
                {% else %}
                <!-- Favourites -->
                <span class="text-muted h6">
                    <i class="fa-regular fa-bookmark"></i>
                </span>
                {% endif %}
            </div>

            <!-- Comments icon -->
            <div class="width-65px p-0 text-center">
                {% with comments.count as total_comments %}
                <span class="text-muted h6">
                    <i class="far fa-message"></i> {{ total_comments }}
                </span>
                {% endwith %}
            </div>

            <!-- Edit and Delete icons -->
            {% if user.is_authenticated and user == recipe.author %}
            <div class="col ps-0">
                <a class="btn text-muted p-0 h-100 sm-width-icons" href="{%  url 'edit_recipe' recipe.slug %}"><i
                        class="fa-regular fa-pen-to-square"></i>
                </a>
                <a class="btn text-muted p-0 h-100 sm-width-icons" href="{%  url 'delete_recipe' recipe.slug %}"><i
                        class="fa-regular fa-trash-can"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- section ingredients -->
<section>
    <div class="container">
        <div class="row">
            <div class="col coloured-box">
                <p>
                <h4 class="text-line"><span>Ingredients</span></h4>
                </p>

                <!-- list of ingredients -->
                <div class="row p-left-30">

                    {{ recipe.ingredients | safe }}

                </div>
            </div>
        </div>
    </div>
</section>

<!-- section recipe details -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box mt-0">
                <p>
                <h4 class="text-line"><span>Recipe Details</span></h4>
                </p>

                <!-- Details -->
                <div class="row p-left-30">
                    <ul>
                        <li>Preparing Time: {{ recipe.preparing_time | safe }}</li>
                        <li>Cooking Time: {{ recipe.cooking_time | safe }}</li>
                        <li>Serves: {{ recipe.serves | safe }}</li>
                        <li>Difficulty: {{ recipe.difficulty | safe }}</li>
                        <li>
                            Category:
                            {% if recipe.category == 0 %}
                            Starters
                            {% elif recipe.category == 1 %}
                            Main Courses
                            {% elif recipe.category == 2 %}
                            Desserts
                            {% else %}
                            other
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section method -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box mt-0">
                <p>
                <h4 class="text-line"><span>Method</span></h4>
                </p>

                <!-- Details -->
                <div class="row p-left-30">

                    {{ recipe.method | safe }}

                </div>
            </div>
        </div>
    </div>
</section>

<!-- section comments -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box-comments mt-0 pb-3">
                <p>
                <h4 class="text-line text-line-comments"><span>Comments</span></h4>
                </p>

                <!-- comments -->
                <div class="row p-left-30">

                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p style="margin-bottom: 0;">
                            <b>{{ comment.name }}</b>
                        </p>
                        <span class=" text-muted font-weight-normal" style="padding: 0;">
                            {{ comment.created_on }}
                        </span>
                        <p style="margin-top: 10px;">
                            {{ comment.body }}
                        </p>
                    </div>
                    {% endfor %}
                </div>

                {% if user.is_authenticated %}
                <div class="col col-lg-4">
                    <p class="pt-1">Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                    </form>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>

{%endblock%}