{% extends "base.html" %}

{% block navbar-categories-logs %}

<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 ps-3 my-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'starters' %}">Starters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main_courses' %}">Main Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'desserts' %}">Desserts</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'other' %}">Other</a>
            </li>
        </ul>

        <ul class="navbar-nav my-auto marg-left-right">
            <li>
                <hr>
            </li>

            {% if user.is_authenticated %}
            <div class="dropdown show">
                <a class="btn dropdown-toggle nav-link align-left p-left-right-0" href="{% url 'user_profile' user.id %}" role="button"
                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
            
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'user_profile' user.id %}">My Profile</a>
                    <a class="dropdown-item" href="{% url 'favourite_list' %}">Favourite recipes</a>
                    <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
                </div>
            </div>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>

{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!-- section title and image of recipe -->
<section>
    <div class="container pt-2">
        <div class="row text-center">
            <h2>{{ recipe.title }}</h2>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="{{ recipe.featured_image.url }}" class="img-fluid" alt="recipe image">
            </div>
        </div>


        <div class="row like-comments-row">
            <div class="col col-lg-2">
                <!-- Author -->
                <p>
                    <strong>Author:</strong> {{ recipe.author }}
                </p>
            </div>
            <!-- Likes icon -->
            <div class="col-2 p-0 sm-width-icons">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogrecipe_id" value="{{recipe.slug}}" class="btn-like"><i
                            class="fa-solid fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blogrecipe_id" value="{{recipe.slug}}" class="btn-like"><i
                            class="fa-regular fa-heart"></i></button>
                    {% endif %}

                </form>
                {% else %}
                <span class="text-muted h6">
                    <i class="fa-regular fa-heart"></i>
                </span>
                {% endif %}
                <span class="text-muted h6">
                    {{ recipe.number_of_likes }}
                </span>
            </div>

            <!-- Favourites icon -->
            <div class="col-2 p-0 sm-width-icons">
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_favourite' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    <!-- Favourites -->
                    {% if isFavourite %}
                    <button type="submit" name="blogrecipefav_id" value="{{recipe.slug}}" class="btn-fav"><i
                            class="fa-solid fa-bookmark"></i></button>
                    {% else %}
                    <button type="submit" name="blogrecipefav_id" value="{{recipe.slug}}" class="btn-fav"><i
                            class="fa-regular fa-bookmark"></i></button>
                    {% endif %}

                </form>
                {% else %}
                <!-- Favourites -->
                <span class="text-muted h6">
                    <i class="fa-regular fa-bookmark"></i>
                </span>
                {% endif %}
            </div>


            <!-- Comments icon -->
            <div class="col-2 p-0 pt-1 sm-width-icons">
                {% with comments.count as total_comments %}
                <p class="text-muted h6">
                    <i class="far fa-message"></i> {{ total_comments }}
                </p>
                {% endwith %}
            </div>
        </div>

        <div class="row like-comments-row">
            <div class="col col-lg-2">
                <!-- Website link -->
                <p>
                    <strong>Website: </strong>
                    <a href="{{ recipe.website_url }}">
                        {{ recipe.website }}
                    </a>

                </p>
            </div>
        </div>
    </div>

</section>

<!-- section ingredients -->
<section>
    <div class="container">
        <div class="row">
            <div class="col coloured-box">
                <p>
                <h4 class="text-line"><span>Ingredients</span></h4>
                </p>

                <!-- list of ingredients -->
                <div class="row p-left-30">

                    {{ recipe.ingredients | safe }}

                </div>
            </div>
        </div>
    </div>
</section>

<!-- section recipe details -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box mt-0">
                <p>
                <h4 class="text-line"><span>Recipe Details</span></h4>
                </p>

                <!-- Details -->
                <div class="row p-left-30">
                    <ul>
                        <li>Preparing Time: {{ recipe.preparing_time | safe }}</li>
                        <li>Cooking Time: {{ recipe.cooking_time | safe }}</li>
                        <li>Serves: {{ recipe.serves | safe }}</li>
                        <li>Difficulty: {{ recipe.difficulty | safe }}</li>
                        <li>Category: {{ recipe.category | safe }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section method -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box mt-0">
                <p>
                <h4 class="text-line"><span>Method</span></h4>
                </p>

                <!-- Details -->
                <div class="row p-left-30">

                    {{ recipe.method | safe }}

                </div>
            </div>
        </div>
    </div>
</section>

<!-- section comments -->
<section>
    <div class=" container">
        <div class="row">
            <div class="col coloured-box mt-0">
                <p>
                <h4 class="text-line"><span>Comments</span></h4>
                </p>

                <!-- comments -->
                <div class="row p-left-30">

                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>

                {% if user.is_authenticated %}
                <div class="col col-lg-4">
                    {% if commented %}
                    <div class="alert alert-success fade show" id="msg" role="alert">
                        Thanks! Your comment is waiting for approval.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}

                    <h4>Leave a comment:</h4>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>

{%endblock%}